.icons
{
    position: absolute;
    top: 5%;
    background-color: rgba(2, 25, 36, 0.712);
    width: 30%;
    height: 7.5vh;
}
ion-icon
{
    color: rgb(244, 239, 245);
    font-size: 25px;
    transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

ion-icon[name="home-outline"]:hover
{
    color: rgb(255, 101, 26);
    transform: rotate(-12deg);
}
ion-icon[name="settings-outline"]:hover
{
    color: rgb(36, 101, 255);
    transform: rotate(+12deg);
}
ion-icon[name="game-controller-outline"]:hover
{
    color: rgb(255, 57, 57);
    transform: scale(+1.14);
}
ion-icon[name="chatbox-ellipses-outline"]:hover
{
    color: rgb(0, 255, 0);
    transform: scale(+0.90);
}